.main-jumbotron__section {
    background-color: rgb(255, 255, 255);
    max-height: 130px;
    padding-top: 0px;
    margin-top: 55px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: center
}

.main-jumbotron__section h2 {
    font-family: 'Kreon-Light';
    font-weight: 500;
    position: relative;
    top: -10px;
    @mixin atSmall {
        padding: 0 20px;
        font-size: responsive 15px 20px;
        font-range: 200px 500px;
    }
    @mixin atMedium {
        padding: 0 15px;
        font-size: responsive 20px 26px;
        font-range: 501px 800px;
    }
    @mixin atLarge {
        padding: 0 30px;
    }
}

.main-jumbotron__section p {
    font-family: 'Kreon-Light';
    font-weight: 500;
    color: rgb(175, 175, 175);
    position: relative;
    top: -15px;
    @mixin atSmall {
        display: none;
    }
    @mixin atMedium {
        padding: 0 20px;
        font-size: responsive 18px 21px;
        font-range: 501px 800px;
    }
}

.section-separator {
    width: 90%;
    margin-bottom: 0px;
    @mixin atSmall {
        margin-bottom: 15px;
        margin-top: 0;
    }
    @mixin atXLarge {
        width: 890px;
    }
}

.jumbotron {
    @mixin atSmall {
        padding-bottom: 0;
    }
}