.group::after {
    content: "";
    display: table;
    clear: both;
}

.previews {
    padding: 3.5em 0 4.58em;
}

.previews article:not(:last-child),
.home-related aside:not(:last-child) {
    margin-right: 5.33em;
}

.preview {
    float: left;
    width: 240px;
}

.preview-title {
    font-size: 20px;
    overflow: hidden;
    font-family: 'Kreon-Light';
}

.preview-img-container {
    position: relative;
    margin: 0.4em 0 1.5em;
    padding: 0.25em;
    width: 100%;
    height: 100%;
}

.preview-img,
.media-img {
    border: 0;
}

.preview-img-container:hover .preview-img {
    opacity: 0.5;
}

.preview-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: -1.67em 0 0 -1.67em;
    width: 3.33em;
    height: 3.41em;
    background: url("images/preview-hover-icon.png");
    visibility: hidden;
}

.preview-img-container:hover .preview-hover-icon {
    visibility: visible;
}

.preview-content {
    height: 6em;
    overflow: hidden;
    font-family: "Droid-Sans";
}

.home-aside {
    float: left;
    margin-bottom: 1.92em;
}

.home-aside-list {
    width: 20em;
}

#multi-media-bar {
    position: relative;
    border-radius: 0.25em;
    padding: 1.08em 1.17em 1.25em 2.33em;
}

#multi-media-bar,
.media-img-container {
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 11px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0f0f0;
    border-right-color: #d1d1d1;
    border-bottom-color: #d1d1d1;
}

.media-img-container {
    position: relative;
    float: left;
    margin-right: 1.42em;
    padding: 0.25em;
    width: 4.5em;
    height: 4.5em;
}

.media-img-container:hover .media-img {
    opacity: 0.75;
}

.media-img-container:hover .media-hover-icon {
    visibility: visible;
}

.media-img-container:hover .media-description {
    display: block;
}

.media-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: -1.37em 0 0 -1.37em;
    width: 2.75em;
    height: 2.75em;
    background: url("images/media-hover-icon.png");
    visibility: hidden;
}

.media-hover-video-icon {
    background: url("images/media-hover-video-icon.png");
}

.media-description {
    display: none;
    position: absolute;
    bottom: 5.25em;
    left: -4.83em;
    width: 11.67em;
    padding: 1.25em 1.25em 0.67em;
    z-index: 99;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 1px solid #d1d1d1;
    -moz-border-radius: 0.83em;
    -webkit-border-radius: 0.83em;
    border-radius: 0.83em;
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: Georgia, serif;
    color: #929292;
    font-style: italic;
}

.media-arrow {
    display: block;
    position: absolute;
    width: 1.17em;
    height: 0.67em;
    bottom: -0.67em;
    left: 6.67em;
    background: url(images/media-arrow.png) no-repeat;
}

.media-nav a {
    position: absolute;
    top: 50%;
    margin-top: -1.1em;
    width: 2.25em;
    height: 2.25em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-size: cover;
    z-index: 99;
    pointer-events: none;
}

.media-prev {
    left: -1em;
    background: url("images/media-left-arrow.png");
}

.media-next {
    right: -1em;
    background: url("images/media-right-arrow.png");
}