.profile {
    display: inline-block;
    width: 235px;
    padding: 0.7rem;
    &__photo {
        width: 100%;
    }
    &__icons-container {
        text-align: center;
    }
    &__name {
        text-align: center;
    }
    &__icons {
        padding: 0.5rem;
    }
}