<link rel="stylesheet" type="text/css" href="./temp/styles/flickr.css"> 

<ul class="flickr__photos">
    {{#items}}
    <li>
        <a href="{{link}}">
            <img src="{{media.m}}" alt="{{title}}">
        </a>
    </li>
    {{/items}} 
</ul>
  