<link rel="stylesheet" type="text/css" href="./temp/styles/flickr.css"> 

<ul class="flickr__photos">
    {{#items}}
    <li>
        <a href="{{link}}">
            <img src="{{media.m}}" alt="{{title}}">
        </a>
    </li>
    {{/items}} 
</ul>

<script>
    $('.flickr__button').on('click', function() {
            $('.flickr__photo').addClass('flickr__photo--is-hidden');
            {{!--toastr.success('Are you the 6 fingered man?');--}}
        });
        
</script>